<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Players</title>
  </head>
  <body>
    <h1>Top 5 Players</h1>
    <ol id="top-5-players">
      <% for(let player of topPlayers) { %>
      <li>
        <div>
          <b><%= player.playerName %></b>
          <br />
          <b>Total Score </b> <%= player.totalScore %>
          <br />
          <b>Total Games </b>: <%=player.totalGames %>
        </div>
      </li>
      <% } %>
    </ol>

    <form>
        <h2>Create a game</h2>
      <div>
        <lable>Enter no of players:</lable>
        <input type="number" name="noOfPlayers" id="no-of-players"/>
      </div>
      <button type="button" id="create-game">Create</button>
    </form>

    <div id="game-display"></div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
</html>
